<! DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/sigma_recon_icon.ico">
	<title>{{ page.title }} | SIGMA Recon</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
	{% seo %}
</head>
<body>
	<header style="display: flex; align-items: center; gap: 1rem;">
		
		<div>
			<h1><img src="{{ site.baseurl }}/sigma_recon_192.png" alt="SIGMA Recon Logo" style="height: 48px; width: auto; "><a href="{{ site.baseurl }}/">SIGMA Recon Intelligence & Analysis</a></h1>
			<nav>
				<a href="{{ site.baseurl }}/echo/">ECHO Watch</a> |
				<a href="{{ site.baseurl }}/sigma/">SIGMA Briefs</a> |
				<a href="{{ site.baseurl }}/ares/">ARES Dossiers</a> |
				<a href="{{ site.baseurl }}/about/">Methodology</a>
			</nav>
		</div>
	</header>
	<main>{{ content }}</main>
</body>
</html>